.ajout{
    font-size: 25px;
    
}

.b{
    position: absolute;
    width: 119px;
    height: 119px;
    left: 107px;
    top: 100px;
    margin-left: 41%;
    
}
.aj{
    height: 40px;
    width: 40px;
    
}
.h2{
    margin-right: 40%;
}

.nom{
    font-size: 0.5rem;
 
}
.s{
    margin-left: 50px;
}

.but{
    height: 70px;
    width: 70px;
}
.n1{
    margin-left: 43%;
  }
  input[type="text"] {
    width: 350px;
}
.xx{
    width: 350px;
}
.check{
    font-size: large;
    margin-left: 1%;
}
.env{
    margin-left: 10%; 
}
.spann{
    width: 50%;
}
.container{
    margin-left: 40%;
}
.n2{
    margin-left: 5%;
}

.invalid {
    border: 4px solid red; /* Style pour la bordure en rouge */
  }
